<div class="d-flex justify-content-end">
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul>
        <li><%= link_to '練習記録一覧', practice_records_path %></li>
        <li><%= link_to 'マイページ', mypage_path %></li>
        <!-- 他のメニュー項目 -->
      </ul>
    </div>
  </nav>
</div>
