<div class="container">
  <h1>使用方法</h1>
  <p>このアプリケーションの使い方をご説明します。</p>

  <h2>1.練習記録機能 </h2>
  <p>日々の練習を記録できます。練習前に目標を決めてから、
  練習を行います。その後、コメントにて反省点を記録できます。</p>

  <h2>2. キーポイント機能</h2>
  <p>オリジナルのキーポイントを作成することが出来ます。そのキーポイントをお気に入りにすることが出来て、
  そのお気に入りにしたキーポイントがマイページに表示されます。</p>

  <h2>3. そ</h2>
  <p>お気に入りや練習メニューの作成機能を利用してください。</p>
</div>
