.top-wrapper {
    background-image: url("top.jpg");
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;
  
    .top-inner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 3rem;
      color: white;
  
      @media screen and (max-width: 767px) {
        font-size: 2.0rem;
      }
    }
  }

.logo {
  height: 50px;
  width: auto;
}

.text-truncate {
  white-space: nowrap;        /* 1行に収める */
  overflow: hidden;           /* 見えない部分を隠す */
  text-overflow: ellipsis;    /* 長すぎるテキストに "..." を付与 */
}

// 横並びにするためのスタイル
.date-select-inline select {
  display: inline-block;
  width: auto;
  margin-right: 10px; // 要素の間にスペースを入れる
}
