<div class="container">
  <h1 class="mb-5">MyGolfDiary</h1>
  <div class="text-center responsive-table">
    <h3>キーポイント</h3>
    <div class="list-group">
      <% @favorite_key_points.each do |f| %>
        <div class="list-group-item">
          <%= f.title %>
        </div>
      <% end %>
    </div>  
  </div>
</div>